.icon32-posts-project{
	background: url(../images/project-32.png) no-repeat center center !important;
}

#reward-inputs{
	display: none;
	padding: 10px;
	background: #EFEFEF;
	border: 2px dashed #DDD;
}

#reward-inputs label{
	display: inline-block;
	width: 120px;
}

#reward-inputs ul{
	margin-top: 0;
}

#reward-form-title{
	margin-top: 0;
}

#current-rewards li{
	margin-bottom: 2.5em;
}

#current-rewards strong{
	font-size: 1.125em;
	cursor: pointer;
}

#current-rewards .availability{
	color: #999;
	font-style: italic;
	display: inline-block;
	margin-left: 20px;
}

#current-rewards p{
	margin: 0.5em 0;
}

/* @group Funders */

#project-funders .funder{
	position: relative;
	text-align: center;
	width: 105px;
	padding: 8px 5px;
	float: left;
	margin: 5px;
	background: #EFEFEF;
	border: 1px solid #C0C0C0;

	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1), inset 0 0 1px rgb(255,255,255);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1), inset 0 0 1px rgb(255,255,255);
	box-shadow:0 1px 1px rgba(0,0,0,0.1), inset 0 0 1px rgb(255,255,255);
}

/* The charged icon */

/* @group Icons */

#project-funders .funder .icon{
	position: absolute;
	top: -8px;
	right: -6px;
	width: 16px;
	height: 16px;

	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}

#project-funders .funder .icon.charged {
	background: url(../images/money.png);
}

#project-funders .funder .icon.charged_error {
	background: url(../images/error.png);
}

/* @end */

#project-funders .funder .avatar{
	position: relative;
}

#project-funders .funder .avatar .loader{
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fffeff url(../images/loader.gif) no-repeat center center;

	display: none;
}

#project-funders .funder .name {
	font-weight: 600;
	margin: 0.4em 0;
}

#project-funders .funder .amount{
	font-style: italic;
}

/* @end */

/* @group Donation Modal */

#f-modal-donate {
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;

	z-index: 1001;

	background: #F4F4F4;
	border: 1px solid black;
	padding: 0;

	-webkit-box-shadow:0 0 8px rgba(0,0,0,0.5);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	display: none;
}

#f-modal-donate h3{
	font-size: 13px;
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 10px 15px;

	border-bottom: 1px solid black;

	background: #424242;
	background: -moz-linear-gradient(top,  #424242 0%, #2e2e2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2e2e2e));
	background: -webkit-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: -o-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: -ms-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#2e2e2e',GradientType=0 );

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#f-modal-donate .content{
	padding: 5px 15px;
}

#f-modal-donate .donate{
	border-top: 1px solid #cbcbcb;

	background: #e8e8e8;
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #b4b4b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#b4b4b4));
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	background: -o-linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	background: linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b4b4b4',GradientType=0 );

	padding: 10px 15px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#f-modal-donate .donate a.paypal{
	border: 1px solid #673d0f;

	background: #deac49;
	background: -moz-linear-gradient(top,  #deac49 0%, #c7742c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deac49), color-stop(100%,#c7742c));
	background: -webkit-linear-gradient(top,  #deac49 0%,#c7742c 100%);
	background: -o-linear-gradient(top,  #deac49 0%,#c7742c 100%);
	background: -ms-linear-gradient(top,  #deac49 0%,#c7742c 100%);
	background: linear-gradient(top,  #deac49 0%,#c7742c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deac49', endColorstr='#c7742c',GradientType=0 );

	text-decoration: none;
	font-weight: bold;
	color: black;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);

	display: inline-block;

	padding: 8px 12px;
	margin-right: 15px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
}

#f-modal-donate-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 1000;

	background: black;

	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;

	display: none;
}

#f-modal-donate2 {
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;

	z-index: 1001;

	background: #F4F4F4;
	border: 1px solid black;
	padding: 0;

	-webkit-box-shadow:0 0 8px rgba(0,0,0,0.5);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	display: none;
}

#f-modal-donate2 h3{
	font-size: 13px;
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 10px 15px;

	border-bottom: 1px solid black;

	background: #424242;
	background: -moz-linear-gradient(top,  #424242 0%, #2e2e2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2e2e2e));
	background: -webkit-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: -o-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: -ms-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#2e2e2e',GradientType=0 );

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#f-modal-donate2 .content{
	padding: 5px 15px;
}

#f-modal-donate2 .donate{
	border-top: 1px solid #cbcbcb;

	background: #e8e8e8;
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #b4b4b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#b4b4b4));
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	background: -o-linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	background: linear-gradient(top,  #e8e8e8 0%,#b4b4b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b4b4b4',GradientType=0 );

	padding: 10px 15px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#f-modal-donate2 .donate a.paypal{
	border: 1px solid #673d0f;

	background: #deac49;
	background: -moz-linear-gradient(top,  #deac49 0%, #c7742c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deac49), color-stop(100%,#c7742c));
	background: -webkit-linear-gradient(top,  #deac49 0%,#c7742c 100%);
	background: -o-linear-gradient(top,  #deac49 0%,#c7742c 100%);
	background: -ms-linear-gradient(top,  #deac49 0%,#c7742c 100%);
	background: linear-gradient(top,  #deac49 0%,#c7742c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deac49', endColorstr='#c7742c',GradientType=0 );

	text-decoration: none;
	font-weight: bold;
	color: black;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);

	display: inline-block;

	padding: 8px 12px;
	margin-right: 15px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
}

#f-modal-donate-overlay2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 1000;

	background: black;

	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;

	display: none;
}

/* @end */

#f-admin-message {
	position: relative;
	text-align: left;
	padding: 5px 15px;
}

#f-admin-message .close {
	position: absolute;
	top: 50%;
	right: 10px;

	margin-top: -11px;

	text-align: center;
	display: block;
	padding: 1px;
	border: 1px solid #E6DB55;

	color: #b6ae24;
	background: white;

	width: 14px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}

#f-admin-message .close:hover{
	background: #ffffe1;
}